/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal selector for default setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0%;
}

/* Color variables */
:root {
  --text1-color: rgb(13, 19, 33);
  --text2-color: rgba(13, 19, 33, 0.7);
  --text3-color: rgba(13, 19, 33, 0.26);
  --text4-color: #ffffff;
}

/* Shared Section Styles */
.section-header {
  max-width: 852px;
  text-align: center;
  margin: 80px auto 24px;
}

.section-title {
  font-size: 32px;
  font-weight: 800;
  color: var(--text1-color);
  margin-bottom: 24px;
}

.section-description {
  font-weight: 400;
  line-height: 26px;
  color: var(--text2-color);
  font-size: 16px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}

.text-title {
  color: var(--text1-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.text-description {
  color: var(--text2-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 16px auto 32px;
}

/* Button shared styles */
button,
.btn-learn-more,
.btn-contact,
.resume-btn {
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  padding: 17px 24px;
  transition: all 0.3s ease;
}

button:hover,
.btn-learn-more:hover,
.btn-contact:hover,
.resume-btn:hover {
  background-color: var(--text1-color);
  color: var(--text4-color);
}

/* Nav styles */
nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 1px;
  max-width: 1440px;
  gap: 400px;
}

nav ul li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: var(--text1-color);
}

.nav-title {
  color: var(--text1-color);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}

/* Resume button styles */
.resume-btn {
  border: 1px solid var(--text1-color);
  background-color: var(--text4-color);
  color: var(--text1-color);
  opacity: 0.8;
}

/* Banner styles */
.banner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  max-height: 652px;
}

.banner-pic {
  width: 240px;
  height: 240px;
  margin: 26px 0 32px;
}

.banner-content {
  text-align: center;
}

.banner-title {
  color: var(--text1-color);
  font-weight: 800;
  font-size: 48px;
}

.banner-description {
  font-weight: 400;
  line-height: 26px;
  color: var(--text2-color);
  font-size: 16px;
  margin: 24px auto 32px;
}

/* Contact button styles */
.btn-contact {
  background-color: var(--text1-color);
  color: var(--text4-color);
  border: none;
  padding: 21px 24px;
  margin-bottom: 44px;
}

.btn-contact > a {
  text-decoration: none;
}

/* Main section start */
.web-development {
  max-width: 1140px;
  max-height: 1393px;
  /* border: 1px solid pink; */
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  margin: 75px auto 90px;
  padding: 80px 100px 50px 100px;
}

.first-section,
.second-section,
.third-section {
  margin: 16px auto;
  padding: 48px;
  max-width: 946px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  max-width: 477px;
}

.btn-learn-more {
  box-sizing: border-box;
  border: 1px solid var(--text1-color);
  opacity: 0.7;
  color: var(--text1-color);
  padding: 12px 20px;
}

.learn-more-pic {
  max-width: 260px;
  max-height: 217px;
}

/* inspiration styles */
.inspiration {
  max-width: 1140px;
  margin: 0 auto 151px;
}

.youtube-embd {
  max-width: 1140px;
  padding: 25px;
  border: 1px solid var(--text3-color);
  border-radius: 16px;
  margin: 0 auto;
}

.youtube-embd iframe {
  border: none;
  border-radius: 16px;
}

/* current target styles */
.current-target,
.next-target {
  max-width: 1140px;
  margin: 0 auto 111px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  max-width: 364px;
  padding: 35px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.ht {
  background: rgba(255, 76, 30, 0.05);
}

.cs {
  background: rgba(0, 76, 232, 0.05);
}

.js {
  background: rgba(255, 223, 0, 0.05);
}

.img-box {
  max-width: 56px;
}

.img-box img {
  width: 100%;
  height: 100%;
}

.card h5 {
  color: var(--text1-color);
  font-size: 24px;
  font-weight: 800;
}

.card p {
  color: var(--text2-color);
  font-size: 16px;
  font-weight: 400;
}

/* support styles */
.support {
  max-width: 1140px;
  padding: 64px 48px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.4) url("../assets/handshake.jpg") no-repeat center /
    cover;
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-title {
  color: var(--text4-color);
  font-size: 32px;
  font-weight: 700;
}

.support-description {
  color: var(--text4-color);
  font-size: 16px;
  opacity: 0.7;
}

.form {
  margin: 30px auto 0;
}

.fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 850px;
  border: none;
}

.input-text {
  width: 700px;
  height: 57px;
  padding: 19px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: #fff;
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
}

.btn-submit {
  min-width: 140px;
  height: 57px;
  color: var(--text1-color);
  background: #fff;
  border: none;
  font-size: 20px;
  padding: 17px 20px;
}
/* next target styles */
.next-target{
  max-width: 1140px;
  max-height: 710px;
  /* border: 2px solid rgb(249, 193, 193); */
  /* background-color: rgba(13, 19, 33, 0.02); */
  border-radius: 16px;
  margin: 0 auto 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.next-target-links{
  max-width: 1140px;
  max-height: 230px;
  border-radius: 0.2px solid;
  background-color: rgba(0, 76, 232, 0.05);;
  padding:24px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  text-align: left;
}
.next-target-links img{
  width: 100px;
  height: 100px;
}
.container-content{
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.container-content a{
  color: black;
}

/* Footer styles */
.ft {
  max-width: 1440px;
  padding: 32px 150px;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft-text {
  color: var(--text1-color);
  font-size: 20px;
  font-weight: 600;
}

.social-link {
  display: flex;
  gap: 24px;
}

#footer {
  /* Additional footer-specific styles if needed */
}
